/* ==========================================================================
   CARS / COMPONENTS
   ========================================================================== */

.cars {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr;
    overflow: hidden;
    height: 100vh;
    place-items: center;
    gap: 30px;

    @media (min-width: $breakpoint-md) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 2fr;
    }
}

.car {
    background: yellow;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    transition: transform 0.2s ease-out;

    &:hover {
        transform: scale(1.05);
    }

    h2 {
        color: var(--color-bg-primary);
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 20px;
        width: 100%;
        text-align: right;
    }

    img {
        max-height: 80%;
        max-width: 80%;
    }
}

.cars__content {
    display: grid;
    height: 100px;
    height: 100%;
    gap: 20px;
}

.cars__aside {
    text-align: center;
    grid-column: 1 / -1;
}
